<div class="block-content">
    <ul>
        <li><a target="_blank" href="https://twitter.com/Matteo_groult"><img src="{{ asset('img/icon/x_icon.svg') }}" alt="Twitter icon"></a></li>
        <li><a target="_blank" href="https://www.linkedin.com/in/matteo-groult/"><img src="{{ asset('img/icon/linkedin_icon.svg') }}" alt="Linkedin icon"></a></li>
        <li><a target="_blank" href="https://github.com/cactuseure"><img src="{{ asset('img/icon/github_icon.svg') }}" alt="Github icon"></a></li>
    </ul>
</div>
<div class="block-bottom">
<p>Copyright ©2024 Tous droits réservés</p>
</div>