html{
  background: inherit;
}

body{
  color: $secondary-color;
  font-size: $base-font-size;

  margin: 0;
}
body {
  h1 {
    margin-bottom: 0;
    font-weight: 600;
  }
}


nav.breadcrumb {
  ul{
    list-style: none;
    padding: 0;

    display: flex;
    flex-direction: row;
  }

  a{
    color: #000;
    text-decoration: none;
    font-weight:600;

  }
}