header {
  @media screen and (max-width: $media-min-width) {
    height: 45px;

    .navbar-collapse.justify-content-end {
      z-index: 1000;
      background: #FFF;
    }
  }

  background: #fff;
  position: relative;
  nav.navbar-expand-lg {
    padding: 0;
    @media screen and (max-width: $media-max-width) {
      justify-content: flex-end;

      .navbar-toggler {
        border: none;
        background: none;
        padding: 0;
        margin-right: 12px;
        margin-top: 10px;

        span {

        }

        &:focus {
          box-shadow: none;
        }
      }
    }


      @media screen and (max-width: $media-max-width){
        .navbar-collapse {
        box-shadow: rgba(0, 0, 0, 0.18) 0 4px 2px;
        padding-bottom: 15px;

        a {
          padding: 10px 15px;
          text-align: center;
        }
      }



    }
  }


  @media screen and (min-width: $media-min-width) {
    height: 70px;
    display: flex;
    justify-content: flex-end;
  }

  a.nav-link {
    color: #000;
    font-family: 'Heebo', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

  }

  @media screen and (min-width: 768px) {
    .navbar-expand-md .navbar-nav .nav-link {
      padding-right: 15px;
      padding-left: 15px;
    }
  }

  .navbar-nav a:last-child {
    margin-right: 15px;
  }

  .back-home {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;

    a {
      display: flex;
      gap: 10px;
      align-items: center;
      text-decoration: none;
      color: #000;

      font-family: "Heebo", sans-serif;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;

      svg {
        width: 30px;
        height: 30px;
      }
    }
  }
}