{% extends "layout/simple-layout.html.twig" %}

{% block title %}Blog - Mattéo Groult{% endblock %}

{% block body_attribut %}blog{% endblock %}

{% block main %}
    <main id="wrapper">
        <section class="all-posts">
            <div class="container-md">
                <div class="all-posts-head">
                    <h1>Blog</h1>
                </div>
                <div class="all-posts-grid">
                    <article>
                        <div class="post-title">
                            <h2>Lampemasume</h2>
                        </div>
                        <div class="post-meta">
                            <span class="post-date">12 Feb 2020</span>
                            <span class="post-categories">Design, Pattern</span>
                        </div>
                        <div class="post-description">
                            <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia
                                consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                        </div>
                    </article>
                    <article>
                        <div class="post-title">
                            <h2>Lampemasume</h2>
                        </div>
                        <div class="post-meta">
                            <span class="post-date">12 Feb 2020</span>
                            <span class="post-categories">Design, Pattern</span>
                        </div>
                        <div class="post-description">
                            <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia
                                consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                        </div>
                    </article>
                    <article>
                        <div class="post-title">
                            <h2>Lampemasume</h2>
                        </div>
                        <div class="post-meta">
                            <span class="post-date">12 Feb 2020</span>
                            <span class="post-categories">Design, Pattern</span>
                        </div>
                        <div class="post-description">
                            <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia
                                consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                        </div>
                    </article>
                    <article>
                        <div class="post-title">
                            <h2>Lampemasume</h2>
                        </div>
                        <div class="post-meta">
                            <span class="post-date">12 Feb 2020</span>
                            <span class="post-categories">Design, Pattern</span>
                        </div>
                        <div class="post-description">
                            <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia
                                consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                        </div>
                    </article>
                </div>
            </div>
        </section>
    </main>
{% endblock %}